<div class="row" *ngFor="let session of visibleSession">
    <div class="col-md-1">
      <upvote (vote)="toggleVote()" [count]="session.voters.length"  [voted]="userHasVoted(session)"></upvote>
    </div>
    <div class="col-md-12">
      <collaspsible-well [title]="session.name">
          <div well-title>
            {{session.name}}
            <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color:red"></i>
          </div>
          <div well-body>
            <h6>{{session.presenter}}</h6>
            <span>Duration: {{session.duration | duration}}</span><br />
            <span>Level: {{session.level}}</span>
            <p>{{session.abstract}}</p>
          </div>
      </collaspsible-well>
    </div>
  </div>